{% extends "ambassador/layout.html" %}
{% load static %}

{% block body %}


          <div class="container">
    
            <div class="card card-custom rounded-big">
                <div class="card-header flex-wrap py-5">
                  <div class="card-title">
                    <h3 class="card-label"><i class="fas fa-users text-dark-75 mr-2"></i>Add Second Ambassador</h3>
                  </div>
                </div>
                <div class="card-body">
                    <form class="form" id="kt_form">
                          <!--begin::Row-->
                                <div class="row">
                                    <div class="col-xl-2"></div>
                                    <div class="col-xl-7 my-2">
                                      
                                        <!--begin::Group-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Full Name</label>
                                            <div class="col-9">
                                                <input class="form-control form-control-lg form-control-solid" type="text" value="Anna" />
                                            </div>
                                        </div>
                                        <!--end::Group-->
                                        
                                        <!--begin::Group-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Contact Phone</label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="la la-phone"></i>
                                                        </span>
                                                    </div>
                                                    <input type="number" class="form-control form-control-lg form-control-solid" value="+45678967456" placeholder="Phone" />
                                                </div>

                                            </div>
                                        </div>
                                        <!--end::Group-->
                                        <!--begin::Group-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Email Address</label>
                                            <div class="col-9">
                                                <div class="input-group input-group-lg input-group-solid">
                                                    <div class="input-group-prepend">
                                                        <span class="input-group-text">
                                                            <i class="la la-at"></i>
                                                        </span>
                                                    </div>
                                                    <input type="text" class="form-control form-control-lg form-control-solid" value="anna.krox@loop.com" placeholder="Email" />
                                                </div>
                                            </div>
                                        </div>
                                        <!--end::Group-->
                                        <div class="form-group row">
                                            <label class="col-form-label col-3 text-lg-right text-left">Permissions</label>
                                            <div class="checkbox-inline col-9" style="row-gap:10px">
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="checked" name="add_edit_delete"/>
                                                    <span></span>
                                                    Add/edit/delete
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" name="change_offers"/>
                                                    <span></span>
                                                    Change Offers
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="checked" name="see_reports"/>
                                                    <span></span>
                                                    See Reports
                                                </label>
                                                <label class="checkbox">
                                                    <input type="checkbox" checked="checked" name="get_notifications"/>
                                                    <span></span>
                                                    Get Notifications
                                                </label>
                                            </div>
                                        </div>
                                        <div class="from-group row">
                                            <div class="col-12 d-flex justify-content-end"> 
                                                <div class="card-toolbar">
                  
                                                <!--begin::Button-->
                                                <button href="#" type="submit" class="btn btn-primary font-weight-bolder">
                                                    Submit
                                                </button>
                                                <!--end::Button-->
                                              </div></div>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Row-->
                          
                    </form>
                </div>
                </div>
                
          </div>
    {% endblock %}
    {% block scripts %}
            <!--begin::Global Theme Bundle(used by all pages)-->
		<script src="{% static 'assets/js/scripts.bundle.js' %}"></script>
		<!--end::Global Theme Bundle-->
          		<!--begin::Page Scripts(used by this page)-->
		<script src="{% static 'assets/js/pages/custom/user/edit-user.js' %}"></script>
		<!--end::Page Scripts-->
    {% endblock %}
</body>
</html>